{
 "cells": [],
 "metadata": {},
 "nbformat": 4,
 "nbformat_minor": 4
}







.rc-slider-handle-active {
  border-color: red;
}

.rc-slider-handle {
  background-color: blue;
  border-color: blue;


  
}


